:root {
    --textColor: rgb(0,0,0);
    --textHoverColorRed: rgb(166,34,45);
    --textHoverColorGray: rgb(235, 235, 235);
    --backgroundColor: lightgray;
    font-size: 30px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Rubik', sans-serif;
}

a {
    color: var(--textColor);
    text-decoration: none;
}

image {
    padding: 5px;
}

input,textarea {
    transition: background-color 100ms ease-in-out
}

input:focus,textarea:focus {
    outline: none;
    box-shadow: var(--textHoverColorRed);
    border:2px solid var(--textHoverColorRed);
    border-style: outset;
}

input:hover,textarea:hover {
    background-color: var(--textHoverColorGray);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 450px) {
    .footer {
        flex-direction: column;
    }
}

.body {
    margin : 20px;
}

/* HEADER STYLE */

.header {
    width: auto;
    margin: 10px;
    margin-bottom: 0px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.header a {
    cursor: pointer;
}

.menuButton {
    transition: background-color 100ms ease-in-out;
}

.menuButton:hover {
    background-color: var(--textHoverColorRed);
}

.dropdownMenu {
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}

.dropdownMenu a {
    padding: 5px;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: color 100ms ease-in-out;
}

.dropdownMenu a:hover,.footer a:hover {
    color: var(--textHoverColorRed);
}

/* FOOTER STYLE */

.footer {
    background-color: var(--backgroundColor);
    min-height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.footer a {
    padding: 5px;
    width: auto;
    transition: color 100ms ease-in-out;
}
.rightFoot a {
    padding: 10px;
    height: 50px;
}

/* CONTACT STYLE */

.bodyContact {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.bodyContact img {
    padding: 10px;
    padding-left: 20px;
    background-color: var(--backgroundColor);
    width: 309px;
    max-width: 100%;
    height: auto;
    max-height: 549px;
}

.contactForm {
    padding: 10px;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.contactForm > * {
    margin: 5px;
}

.contactForm input,.contactForm textarea {
    padding: 2px;
}

/* VIDEO STYLE */

.bodyVideos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.bodyVideos h1 {
    font-size: 25px;
}

.bodyVideos h2 {
    margin-top: 10px;
}

.videoListContest,.videoListChill {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: var(--backgroundColor);
    margin: 10px;
}

.videoListContest div,.videoListChill div {
    margin: 10px;
}

.videoListContest div > *,.videoListChill div > * {
    margin: 5px;
}

/* CREW STYLE */

.bodyCrew {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.crewWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--backgroundColor);
    padding: 10px;
    margin: 10px;
}

.imgWrap {
    position: relative;
    display: flex;
    margin: 20px;
}

.imgWrap img {
    width: 400px;
    max-width: 100%;
    height: auto;
}

.cyrilImg,.theoImg,.tomImg,.clementImg,.erineImg,.samanthaImg {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 100ms ease-in-out;
    opacity: 0;
}

.cyrilImg:hover,.theoImg:hover,.tomImg:hover,.clementImg:hover,.erineImg:hover,.samanthaImg:hover {
    opacity: 1;
}

.crewText {
    margin: 30px;
}